*.pyc
venv
.env
.coverage
.pytest_cache
.dockerignore
*__pycache__
*.DS_Store
node_modules
package-lock.json
yarn.lock
git-*
server.pid
testserver.log
app/translations
messages.pot
*.swp
token.pickle
credentials.json
slim.report.json
test-apparmor-profile
test-seccomp.json
docker-slim
docker-slim-sensor
creport.json
bin
probeCmds.json
mybody*.json
by8-318322-9aac6ae02900.json
firebasecreds.json