{% extends 'base.html' %}
{% block title %}About 8by8{% endblock %}

{% block content %}
<div id="about-us" class="container py-4 col-md-7">
 <h1>About 8by8</h1>
 <p>
    We are a non-profit organization dedicated to stopping hate against Asian American Pacific Islander (AAPI) communities through voter registration and turnout.
 </p>
 <p>
  The source code for this API is <a href="https://github.com/8by8-org/usvotes">public and open source</a>.
 </p>
 <p>
  To find out how to use this API and integrate voter registration on your website,
  see <a href="https://github.com/8by8-org/usvotes">our ref feature documentation</a>.
 </p>
</div>
{% endblock %}
